<div class="card-panel hoverable">
  <div class="login-form">
    <section class="container">
      <div class="row">
        <div class="col m6 s12">
          <a class="btn btn-large google-plus" href="/auth/google"><i class="mdi mdi-google-plus left"></i>Sign up with Google</a>
        </div>
        <div class="col m6 s12 center">
          <a class="btn btn-large facebook" href="/auth/facebook"><i class="mdi mdi-facebook left"></i>Sign up with Facebook</a>
        </div>
      </div>
    </section>
    <div class="row">
      <form action="/api/v1/user" method="POST" class="col s12">
        <div class="row">
          <div class="input-field col m6 s12">
            <input name="firstName" type="text" placeholder="First Name" required>
          </div>
          <div class="input-field col m6 s12">
            <input name="lastName" type="text" placeholder="Last Name" required>
          </div>
        </div>
        <div class="row">
          <div class="input-field col m6 s12">
            <input name="email" type="email" placeholder="Email/Username" required>
          </div>
          <div class="input-field col m6 s12">
            <input name="password" type="password" placeholder="Password" required>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <a href="/login" class="btn-flat waves-blue waves-light right">Login</a>
            <input name="submit" class="btn blue right" type="submit" value="Register">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
