<div class="card-panel hoverable">
  <div class="login-form">
    <section class="container">
      <div class="row">
        <div class="col m6 s12">
          <a class="btn btn-large google-plus" href="/auth/google"><i class="mdi mdi-google-plus left"></i>Sign up with Google</a>
        </div>
        <div class="col m6 s12 center">
          <a class="btn btn-large facebook" href="/auth/facebook"><i class="mdi mdi-facebook left"></i>Sign up with Facebook</a>
        </div>
      </div>
    </section>
    <div class="row">
      <form class="col s12">
        <div class="input-field col m6 s12">
          <input name="username" type="text" placeholder="Username">
        </div>
        <div class="input-field col m6 s12">
          <input name="password" type="password" placeholder="Password">
        </div>
        <div class="col s12">
          <a href="/login" class="btn-flat waves-blue waves-light right">Login</a>
          <input name="submit" class="btn blue right" type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>
</div>
